@{
    ViewData["Title"] = "About";
}

<div class="container text-center">
    <h2>About Me</h2>
    <img src="~/images/keith.jpg" class="h-25 w-25" alt="Profile Picture">
    <p class="lead">
        Hi! I'm <strong>Keith Andrei M. Dizon</strong>, a passionate web developer with expertise in ASP.NET Core MVC and Bootstrap.
        I love creating visually appealing and user-friendly web applications.
    </p>
</div>


